
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&family=Josefin+Sans&family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 252, 255);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1562534104-6b964ad63e56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80");
  height: 80vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container h1 {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 0.5ch;
  font-family: Impact, sans-serif;
}

/*NAVMENU*/

header {
  font-family: "Epilogue", sans-serif;
}

.nav-menu li {
  list-style: none;
}

.nav-menu {
  padding: 20px;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.navbar a {
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-branding {
  font-size: 2rem;
}

.navbar a:hover {
  transition: 0.5s ease;
}

.navbar a:hover {
  color: #4599c0;
}

.nav-menu a:hover {
  color: #4599c0;
  transition: 0.5s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
}

.hr_new hr {
  border-top: 1px solid rgb(170, 183, 184);
}
/*NAVMENU*/

/*myphoto*/

.myphoto {
  display: flex;
  gap: 8rem;
  margin-block: 5rem;
  margin-inline: 15rem;
  line-height: 2rem;
}

.myphoto span {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.myphoto h1 {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

.myphoto p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.myphoto li {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.myphoto img {
  max-width: 200px;
}

.myphoto_1 h2 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.myphoto_1 span {
  font-size: 20px;
}

.myphoto_2 {
  margin-inline: 16rem;
  font-family: "Open Sans", sans-serif;
}

.myphoto_2 p {
  font-size: 20px;
}

.myphoto_2 li {
  font-size: 20px;
}

.myphoto_2 ul {
  margin-bottom: rem;
}

/*myphoto*/

/*IMAGETEXT*/
.imagetext {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imagetext h1 {
  font-family: "Epilogue", sans-serif;
}

.imagesector {
  margin: auto;
  width: 60%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 10rem;
}

.imagesector img {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  filter: drop-shadow(8px 10px 10px #5f5f5d);
}

.imagesector img:hover {
  opacity: 50%;
}
/*IMAGETEXT*/

/*CONTACT */
.one-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-bottom: 6rem;
}

.contact-container {
  font-size: 22px;
  width: 40px;
  height: 12vh;
  margin-top: 2rem;
  border-right: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.text-container {
  height: 20vh;
  margin-top: 6rem;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.text-container a {
  display: block;
  margin: 8px;
  margin-left: 20px;
  color: #4599c0;
}

.text-container p {
  margin: 8px;
  margin-left: 20px;
}
/*CONTACT */

/*SKILLS*/
.skills {
  font-family: "Epilogue", sans-serif;
  margin-top: 5rem;
  margin-bottom: 12rem;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills li {
  font-size: 20px;
  line-height: 2.6ch;
  margin-right: 6rem;
}
/*SKILLS*/

/*HOME*/

/*HOME*/

/*FOOTER*/

footer {
  margin-top: auto;
  background-color: rgb(0, 0, 0);
  font-family: "Epilogue", sans-serif;
}

.footer_main {
  display: flex;
  flex-direction: row-reverse;

  justify-content: center;
  gap: 50px;
  padding: 50px;
  margin-top: auto;
  margin: auto;
  color: rgb(255, 255, 255);

  font-size: 1rem;
  line-height: 1.2cm;
  list-style: none;
}

.footer_main ul {
  list-style-type: none;
}

.footer_icons {
  display: block;
}

.footer_icons li img {
  max-width: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.footer_icons li img:hover {
  background-color: rgb(185, 185, 185);
  transition: all 0.3s ease-out;
  max-width: 52px;
}

.footer_text {
  color: white;
  max-width: 400px;
  line-height: 25px;
}

.footer_text p {
  font-weight: normal;
  font-size: 14px;
}

/*FOOTER*/

/*MOBILE*/

@media (max-width: 950px) {
  .myphoto {
    display: block;
    margin-inline: 20px;
  }

  .myphoto_2 {
    margin-inline: 20px;
  }
}

@media (max-width: 850px) {
  .imagetable {
    width: 320px;
  }

  .imagetable img {
    width: 200px;
  }
}

@media (max-width: 700px) {
  .imagesector {
    margin: auto;
    margin-bottom: 5rem;
  }

  .imagetext {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .text-container p {
    font-size: 12px;
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .container h1 {
    font-size: 2rem;
    transition: 0.5s ease;
  }
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .hamburger .bar {
    background-color: #000000;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 15px;
    flex-direction: column;
    background-color: rgb(196, 245, 245);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .imagesector {
    margin-top: 8rem;
  }
}

@media (max-width: 350px) {
  .myphoto img {
    width: 120px;
  }

  .myphoto_1 span {
    display: none;
  }

  .myphoto h1 {
    font-size: 1rem;
  }

  .myphoto_2 h1 {
    font-size: 1rem;
  }

  .container h1 {
    width: 250px;
  }

  .nav-branding {
    font-size: 2rem;
  }

  .imagesector img {
    width: 200px;
    height: 80px;
  }

  .contact-container {
    border-right: none;
    margin-left: 2rem;
  }

  .skills ul {
    width: 60%;
  }

  .hr_new hr {
    display: none;
  }

  .footer_main {
    display: block;
  }
}

@media (max-width: 250px) {
  .contact-container {
    display: none;
  }

  .footer_main {
    gap: 10px;
  }
}
/*MOBILE*/
